/* The styling for the content displayed by the buttons */
.content{
    display: block;
    width: 90%;
    margin: 0 auto;
}
iframe {
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    border: none;
}
img.content{
    display: block;
    max-width: 100%;
    margin: 2rem auto;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

@media (max-width: 700px) {
    iframe{ height: 70vh; }
    .content{ width: 95%; }
}