/* The styling for the content displayed by the buttons */
.tabContent{
    margin-top: 20px;
}
.content{
    display: block;
    width: 90%;
    margin: 0 auto;
}
iframe {
    height: 90vh;
    margin: 0 auto;
}